/* top left logo */
.nav-logo {
    width: 220px;
    height: 60px;
    margin-top: 22px;
    margin-left: 10px;
    float: left;
}
@media only screen and (max-width: 650px) {
    .nav-logo {
       margin: 0px 15px;
    }
}
@media only screen and (max-width: 768px) {
    .nav-logo {
       margin: 16px 15px;
    }
}
.logo-negative { 
    background-image: url("../images/adello-logo-white.png");
    background-size: 220px;
    background-repeat: no-repeat;
}
  .logo-positive {
    background-image: url("../images/adello-logo-blue.png");
    background-size: 220px;
    background-repeat: no-repeat;
} 


/* footer links */
.footer-links {
    font-weight: 300;
    text-align: center;
    margin: 30px;
}

/* scroll back to top */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #33332E;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: #005DA5;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/* tag list */
ul.tag-box li {
    display: inline-block;
    list-style: none;
    list-style-image: none;
    margin-bottom: 7px;
}
ul.tag-box li a {
    background: #e6e6e6;
    padding: 4px 8px;
    border-radius: 3px;
    color: #F76B48;
}
ul.tag-box li span.size {
    font-weight: 300;
}

/* search box */
.search-box {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  width:60%;
  padding: 15px 5px;
  border: 1px solid #ddd;
}

.search-button {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 30px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0;
}

input:hover[type="submit"] {
  color: white;
  background-color: #005DA5;
  border: 1px solid #005DA5;
}

@media only screen and (min-width: 768px) {
   .search-box {
	width:80%;   
    }
}

.search-result-counter {
  font-size: 14px;
  font-weight: 300;
}
