/* top left logo */
.nav-logo {
    width: 220px;
    height: 60px;
    margin-top: 22px;
    margin-left: 10px;
    float: left;
}
@media only screen and (max-width: 650px) {
    .nav-logo {
       margin: 0px 15px;
    }
}
@media only screen and (max-width: 768px) {
    .nav-logo {
       margin: 16px 15px;
    }
}
.logo-white {
    background-image: url("../images/adello-logo-white.png");
    background-size: 220px;
    background-repeat: no-repeat;
}

/* footer links */
.footer-links {
    font-weight: 300;
    text-align: center;
    margin: 30px;
}

/* scroll back to top */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #33332E;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: #005DA5;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}